*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/


# macOS
*.DS_Store
*.AppleDouble
*.LSOverride
*._*

# Thumbnails
*._*

# Files that might appear on external disks
*.Spotlight-V100
*.Trashes
